@import '~@patternfly/patternfly/sass-utilities/colors';

.add-capacity-modal__hide {
  display: none;
}

.add-capacity-modal--padding {
  padding-top: 2em;
}

.add-capacity-modal--padding .co-storage-class-dropdown .dropdown {
  width: 21.5rem;
}

.add-capacity-modal--padding .co-storage-class-dropdown .dropdown button {
  width: 100%;
}

.add-capacity-modal--padding .form-group input {
  max-width: 17rem;
  margin-right: 5px;
}

.add-capacity-modal__span {
  margin-left: 3em;
  color: $pf-color-black-500;
}

